.Button-Button {
    font-size: 1em;
    border: none;
    padding: 0.25em 1em;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.Button-Gradient {
    color: #ffffff;
    padding: 0.5em 2em;
    display: block;
    width: 100%;
    /* background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}