.User-container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.User-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.User-details p span {
    text-transform: capitalize;
    font-style: bold;
}