.UserItem-li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.25em;
    padding: 0.5em 1em;
    /* border-bottom: 2px solid #ccc; */
}

.UserItem-li:nth-last-of-type(2n) {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    color: white;
}

.UserItem-span {
    margin-right: 1em;
}