*{
    box-sizing : border-box
}
body,
html {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main-page {
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
    background-color: #fffeee;
}