* {
    box-sizing: border-box
}

body,
html {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main-page {
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
    background-color: #fffeee;
}

.Loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.link {
    text-decoration: none;
}

::placeholder {
    color: rgb(124, 124, 124);
}