:root {
    --form-input-clr: #303e96;
    --transition-time: 0.4s;
}

.Form-wrapper {
    display: flex;
    margin: 2em auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
}